# --- Android ---
# Built artifacts
*.apk
*.aab
*.dex

# Build folders
bin/
gen/
out/
build/
.gradle/

# --- IDE (Android Studio) ---
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/shelf/
.idea/assetWizardSettings.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/caches
.idea/libraries/
.idea/deploymentTargetSelector.xml
*.iml
captures/

# IDE UI settings
.idea/markdown.xml

# --- Local Secrets (NEVER COMMIT THESE) ---
local.properties
.secrets
secrets.properties
api_keys.properties
*.jks
*.keystore
.cxx
google-services.json
*.log

# --- System/OS ---
.DS_Store
Thumbs.db

# WE ARE COMMITTING THESE (Exclude from ignore)
!.idea/inspectionProfiles/Project_Default.xml
!.idea/codeStyles/
